#titlebar {
    background: #3C3F41;
    box-shadow: none;
    margin-left: -231px;
    padding: 4px 8px 0px 8px;
    height: 20px;
    border-bottom: 0;
}

#titlebar, #titlebar .dropdown-toggle {
    color: #FFFFFF;
}

#titlebar .nav {
    margin: -6px 0 -5px -5px
}

#titlebar .dropdown-toggle:hover, #titlebar .dropdown.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    border-bottom: 0px;
}

#titlebar .dropdown-toggle {
    padding: 4px 9px;
}

#titlebar .title, #titlebar .dirty-dot {
    display: none;
}

#main-toolbar {
    padding-top: 30px;
}

#sidebar {
    padding-top: 24px;
}

#titlebar .dropdown-menu {
    margin-top: -7px;
}
